<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>本人確認</title>
    <link th:href="@{/css/auto-complete.css}" rel="stylesheet">
</head>
<body>
<main class="uk-margin" layout:fragment="content">
    <div class="uk-alert-success" th:if="${saved}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>保存しました。</p>
    </div>
    <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-width-xxlarge">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">セミナー編集</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <ul class="uk-child-width-expand" uk-tab>
                    <li><a th:onclick="|location.href='@{/seminars/edit/__${identificationForm.seminarId}__/goal}'|">目標設定</a></li>
                    <li><a th:onclick="|location.href='@{/seminars/edit/__${identificationForm.seminarId}__/overview}'|">概要</a></li>
                    <li><a th:onclick="|location.href='@{/seminars/edit/__${identificationForm.seminarId}__/contents}'|">本文</a></li>
                    <li><a th:onclick="|location.href='@{/seminars/edit/__${identificationForm.seminarId}__/ticket}'|">チケット</a></li>
                    <li><a th:onclick="|location.href='@{/seminars/edit/__${identificationForm.seminarId}__/option}'|">オプション</a></li>
                    <li class="uk-active"><a href="#">本人確認</a></li>
                </ul>
                <div class="uk-text-lead uk-text-bolder uk-text-center uk-margin-medium">最後にあなたの情報を</div>
                <form class="uk-form-horizontal"
                      th:action="@{/seminars/edit/{seminarId}/identification/save(seminarId = ${identificationForm.seminarId})}"
                      th:object="${identificationForm}"
                      method="post">
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="hidden" th:fileld="*{seminarId}">
                    <div class="uk-margin-medium">
                        <label class="uk-form-label uk-text-bold">ビジネスタイプ
                            <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label><input type="radio"
                                          id="individual"
                                          class="uk-radio"
                                          th:name="businessType"
                                          th:checked="*{businessType != null and businessType.value == 'individual'}"
                                          th:value="individual">個人</label>
                            <label class="uk-margin-left"><input type="radio"
                                                                 id="company"
                                                                 class="uk-radio"
                                                                 th:name="businessType"
                                                                 th:checked="*{businessType != null and businessType.value == 'company'}"
                                                                 th:value="company">法人</label>
                            <div th:if="${#fields.hasErrors('businessType')}"
                                 th:errors="*{businessType}"
                                 class="uk-text-small uk-text-danger">error
                            </div>
                        </div>
                    </div>
                    <div class="individual-form" th:object="${identificationForm.individualForm}"
                         th:classappend="${identificationForm.businessType.value == 'individual'}? '':'uk-hidden'">
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="lastName">姓
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="lastName"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('lastName') ? 'uk-form-danger':''}"
                                       th:field="*{lastName}"
                                       maxlength="40"
                                       placeholder="山田">
                                <div th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="firstName">名
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="firstName"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('firstName') ? 'uk-form-danger':''}"
                                       th:field="*{firstName}"
                                       maxlength="40"
                                       placeholder="太郎">
                                <div th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="lastNameKana">姓（カタカナ）
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="lastNameKana"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('lastNameKana') ? 'uk-form-danger':''}"
                                       th:field="*{lastNameKana}"
                                       maxlength="40"
                                       placeholder="ヤマダ">
                                <div th:if="${#fields.hasErrors('lastNameKana')}"
                                     th:errors="*{lastNameKana}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="firstNameKana">名（カタカナ）
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="firstNameKana"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('firstNameKana') ? 'uk-form-danger':''}"
                                       th:field="*{firstNameKana}"
                                       maxlength="40"
                                       placeholder="タロウ">
                                <div th:if="${#fields.hasErrors('firstNameKana')}"
                                     th:errors="*{firstNameKana}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">生年月日
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-auto">
                                        <input type="text"
                                               class="uk-input uk-form-small uk-form-width-xsmall"
                                               th:errorclass="uk-form-danger"
                                               th:field="*{dobYear}"
                                               maxlength="4">&nbsp;年&nbsp;
                                    </div>
                                    <div class="uk-width-auto">
                                        <input type="text"
                                               class="uk-input uk-form-small uk-form-width-xsmall"
                                               th:errorclass="uk-form-danger"
                                               th:field="*{dobMonth}"
                                               maxlength="2">&nbsp;月&nbsp;
                                    </div>
                                    <div class="uk-width-auto">
                                        <input type="text"
                                               class="uk-input uk-form-small uk-form-width-xsmall"
                                               th:errorclass="uk-form-danger"
                                               th:field="*{dobDay}"
                                               maxlength="2">&nbsp;日
                                    </div>
                                </div>
                                <div th:if="${#fields.hasErrors('dobYear')}"
                                     th:errors="*{dobYear}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                                <div th:if="${!#fields.hasErrors('dobYear') && #fields.hasErrors('dobMonth')}"
                                     th:errors="*{dobMonth}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                                <div th:if="${!#fields.hasErrors('dobYear') && !#fields.hasErrors('dobMonth') && #fields.hasErrors('dobDay')}"
                                     th:errors="*{dobDay}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">性別
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <label><input type="radio"
                                              class="uk-radio"
                                              th:classappend="${#fields.hasErrors('gender') ? 'uk-form-danger':''}"
                                              th:name="individualForm.gender"
                                              th:checked="*{gender != null and gender.value == 'male'}"
                                              th:value="male">男性</label>
                                <label class="uk-margin-left"><input type="radio"
                                                                     class="uk-radio"
                                                                     th:classappend="${#fields.hasErrors('gender') ? 'uk-form-danger':''}"
                                                                     th:name="individualForm.gender"
                                                                     th:checked="*{gender != null and gender.value == 'female'}"
                                                                     th:value="female">女性</label>
                                <div th:if="${#fields.hasErrors('gender')}"
                                     th:errors="*{gender}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="phone">電話番号
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="phone"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('phone') ? 'uk-form-danger':''}"
                                       th:field="*{phone}"
                                       maxlength="11"
                                       placeholder="0312345678">
                                <div th:if="${#fields.hasErrors('phone')}"
                                     th:errors="*{phone}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-form" th:object="${identificationForm.companyForm}"
                         th:classappend="${identificationForm.businessType.value == 'company' ? '':'uk-hidden'}">
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="name">会社名
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="name"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('name') ? 'uk-form-danger':''}"
                                       th:field="*{name}"
                                       maxlength="100"
                                       placeholder="株式会社GoingFlow">
                                <div th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="nameKana">会社名（カタカナ）
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="nameKana"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('nameKana') ? 'uk-form-danger':''}"
                                       th:field="*{nameKana}"
                                       maxlength="100"
                                       placeholder="カブシキカイシャゴーイングフロウ">
                                <div th:if="${#fields.hasErrors('nameKana')}"
                                     th:errors="*{nameKana}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="tax">登記番号（会社法人等番号）
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="tax"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('tax') ? 'uk-form-danger':''}"
                                       th:field="*{tax}"
                                       maxlength="14"
                                       placeholder="1234-12-123456">
                                <div th:if="${#fields.hasErrors('tax')}"
                                     th:errors="*{tax}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">電話番号
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:classappend="${#fields.hasErrors('phone') ? 'uk-form-danger':''}"
                                       th:field="*{phone}"
                                       maxlength="11"
                                       placeholder="0312345678">
                                <div th:if="${#fields.hasErrors('phone')}"
                                     th:errors="*{phone}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="address-form" th:object="${identificationForm.addressForm}">
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">郵便番号
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <div class="uk-inline">
                                    <span class="uk-form-icon">〒</span>
                                    <input type="text"
                                           class="uk-input uk-form-small uk-form-width-large"
                                           th:errorclass="uk-form-danger"
                                           th:field="*{postalCode}"
                                           maxlength="7"
                                           placeholder="3300802">
                                </div>
                                <div th:if="${#fields.hasErrors('*{postalCode}')}"
                                     th:errors="*{postalCode}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="addressForm.state" th:value="*{state}">
                        <input type="hidden" name="addressForm.city" th:value="*{city}">
                        <input type="hidden" name="addressForm.town" th:value="*{town}">
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold" for="address">住所</label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="address"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       name="address"
                                       th:value="*{state != null ? (state + ' ' + city + ' ' + town) : ''}"
                                       disabled>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">番地
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="address-form-line1"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:errorclass="uk-form-danger"
                                       th:field="*{line1}"
                                       maxlength="10"
                                       placeholder="1234-5">
                                <div th:if="${#fields.hasErrors('*{line1}')}"
                                     th:errors="*{line1}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">建物・部屋番号
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       id="address-form-line2"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:errorclass="uk-form-danger"
                                       th:field="*{line2}"
                                       maxlength="20"
                                       placeholder="銀座ビル7階">
                                <div th:if="${#fields.hasErrors('*{line2}')}"
                                     th:errors="*{line2}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-medium">
                            <label class="uk-form-label uk-text-bold">建物・部屋番号（カタカナ）
                                <span class="uk-label uk-label-danger uk-margin-left uk-text-top">必須</span></label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <input type="text"
                                       class="uk-input uk-form-small uk-form-width-large"
                                       th:errorclass="uk-form-danger"
                                       th:field="*{line2Kana}"
                                       maxlength="20"
                                       placeholder="ギンザビル">
                                <div th:if="${#fields.hasErrors('*{line2Kana}')}"
                                     th:errors="*{line2Kana}"
                                     class="uk-text-small uk-text-danger">error
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="addressForm.stateKana" th:value="*{stateKana}">
                        <input type="hidden" name="addressForm.cityKana" th:value="*{cityKana}">
                        <input type="hidden" name="addressForm.townKana" th:value="*{townKana}">
                        <input type="hidden" name="addressForm.line1Kana" th:value="*{line1Kana}">
                    </div>
                    <hr>
                    <p class="uk-text-center uk-margin uk-margin-medium-top">
                        <button type="button" class="submit-button uk-button uk-button-primary uk-margin-right" name="action" th:value="save">　保　存　</button>
                        <button type="button" class="submit-button uk-button uk-button-secondary uk-margin-left" name="action" th:value="preview">プレビュー</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>
<th:block th:fragment="script">
    <script th:src="@{/js/auto-complete.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      $(document).ready(function () {

            $('.submit-button').on('click', function () {
              var form = $(this).parents('form');
              $('<input>').attr({
                'type': 'hidden',
                'name': 'action',
                'value': $(this).val()
              }).appendTo(form);
              form.submit();
            });

            $("input[name='addressForm.line1']").keyup(function () {
              var val = $(this).val();
              $("input[name='addressForm.line1Kana']").val(val);
            });

            $('[name=businessType]').on('change', function () {
              if ($('input[name=businessType]:checked').val() === 'individual') {
                $('.individual-form').removeClass('uk-hidden');
                $('.company-form').addClass('uk-hidden');
              } else {
                $('.individual-form').addClass('uk-hidden');
                $('.company-form').removeClass('uk-hidden');
              }
            });
          }
      );
      var xhr;
      new autoComplete({
        selector: 'input[name="addressForm.postalCode"]',
        minChars: 7,
        source: function (term, response) {
          try {
            xhr.abort();
          } catch (e) {
          }
          xhr = $.ajax({
            type: "get",
            dataType: "jsonp",
            url: "https://zip-cloud.appspot.com/api/search",
            data: {"zipcode": term}
          }).done(function (json, textStatus, jqXHR) {
            if (json.status !== 200) {
              return;
            }
            response(json.results);
          }).fail(function (jqXHR, textStatus, errorThrown) {
            response(textStatus);
          });
        },
        renderItem: function (item, search) {
          console.log(item);
          // var address = [];
          // for (var i in json.results) {
          //   address.push(json.results[i]["address1"] + " " + json.results[i]["address2"] + " " + json.results[i]["address3"])
          // }
          // response(address);
          return '<div class="autocomplete-suggestion"'
              + ' data-postalcode=' + item["zipcode"]
              + ' data-state=' + item["address1"]
              + ' data-city=' + item["address2"]
              + ' data-town=' + item["address3"]
              + ' data-statekana=' + item["kana1"]
              + ' data-citykana=' + item["kana2"]
              + ' data-townkana=' + item["kana3"]
              + ' data-val=' + item["zipcode"]
              + '>'
              + '〒'
              + item["zipcode"]
              + ' '
              + item["address1"]
              + ' '
              + item["address2"]
              + ' '
              + item["address3"]
              + '</div>';
        },
        onSelect: function (e, term, item) {
          $('[name="address"]').val(item.getAttribute("data-state") + ' ' + item.getAttribute("data-city") + ' ' + item.getAttribute("data-town"));
          $('[name="addressForm.postalCode"]').val(item.getAttribute("data-postalcode"));
          $('[name="addressForm.state"]').val(item.getAttribute("data-state"));
          $('[name="addressForm.city"]').val(item.getAttribute("data-city"));
          $('[name="addressForm.town"]').val(item.getAttribute("data-town"));
          $('[name="addressForm.stateKana"]').val(item.getAttribute("data-statekana"));
          $('[name="addressForm.cityKana"]').val(item.getAttribute("data-citykana"));
          $('[name="addressForm.townKana"]').val(item.getAttribute("data-townkana"));
        }
      });
    </script>
</th:block>
</body>
</html>
