<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>会員仮登録</title>
    <meta name="description" content="会員仮登録画面です。" />
</head>
<body>
    <main layout:fragment="content">
        <div class="uk-container uk-margin">
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">会員仮登録</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                        <div>
                            <p class="uk-text-small">セミプロは誰でもノーリスクでセミナーが開催できるサービスです。<br />
                                セミナー開催経験がない方もセミナー開催をサポートします。<br />
                                <br />
                                セミナー参加希望の方<br />
                                会員登録を行うことでセミナー参加予約を行うことが出来ます。
                            </p>
                        </div>
                        <div>
                            <form class="uk-form-stacked" th:action="@{/signup/register}" th:object="${signUpForm}" method="post">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="username">ユーザー名</label>
                                    <div class="uk-form-controls">
                                        <input type="text"
                                               id="username"
                                               class="uk-input uk-form-small uk-form-width-large"
                                               th:classappend="${#fields.hasErrors('username') ? 'uk-form-danger':''}"
                                               th:field="*{username}"
                                               placeholder="ユーザー名を入力して下さい。">
                                        <div th:if="${#fields.hasErrors('username')}"
                                             th:errors="*{username}"
                                             class="uk-text-small uk-text-danger">error</div>
                                    </div>
                                </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="email">メールアドレス</label>
                                <div class="uk-form-controls">
                                    <input type="text"
                                           id="email"
                                           class="uk-input uk-form-small uk-form-width-medium uk-form-width-large"
                                           th:classappend="${#fields.hasErrors('email') ? 'uk-form-danger':''}"
                                           th:field="*{email}"
                                           placeholder="メールアドレスを入力して下さい。">
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="uk-text-small uk-text-danger">error</div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="password">パスワード</label>
                                <div class="uk-form-controls">
                                    <input type="password"
                                           id="password"
                                           class="uk-input uk-form-small uk-form-width-large"
                                           th:classappend="${#fields.hasErrors('password') ? 'uk-form-danger':''}"
                                           th:field="*{password}"
                                           placeholder="パスワードを入力して下さい。">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="uk-text-small uk-text-danger">error</div>
                                </div>
                            </div>
                            <p class="uk-text-center uk-margin">
                              <button class="uk-button uk-button-primary">登録</button>
                            </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  <th:block th:fragment="script"></th:block>
</body>
</html>
