<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
  <title>会員登録</title>
</head>

<body>

  <!--Main Navigation-->
  <main layout:fragment="content">
    <section class="view">
      <div class="container h-100 d-flex justify-content-center align-items-center">
      
      
        <!--Grid row-->
        <div class="row  py-5 my-3">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="card">
              <div class="card-body">

                <h2 class="font-weight-bold my-4 text-center mb-5 mt-4 font-weight-bold">
                  <strong>会員登録</strong>
                </h2>
                <hr>

                <!--Grid row-->
                <div class="row mt-5">

                  <!--Grid column-->
                  <div class="col-md-6 ml-lg-5 ml-md-3">

                    <!--Grid row-->
                    <div class="row pb-4">
                      <div class="col-2 col-lg-1">
                        <i class="fas fa-university indigo-text fa-lg"></i>
                      </div>
                      <div class="col-10">
                        <h4 class="font-weight-bold mb-4">
                          <strong>セミナー開催希望の方</strong>
                        </h4>
                        <p class="">
                            セミプロは誰でもノーリスクでセミナーが開催できるサービスです。<br />
                            セミナー開催経験がない方もセミナー開催をサポートします。
                        </p>
                      </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row pb-4">
                      <div class="col-2 col-lg-1">
                        <i class="fas fa-desktop deep-purple-text fa-lg"></i>
                      </div>
                      <div class="col-10">
                        <h4 class="font-weight-bold mb-4">
                          <strong>セミナー参加希望の方</strong>
                        </h4>
                        <p class="">会員登録を行うことでセミナー参加予約を行うことが出来ます。</p>
                      </div>
                    </div>
                    <!--Grid row-->

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-5">
                  
                    <!--Body-->
                    <form th:action="@{/signup/register}" th:object="${signupForm}" method="post">
                      <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="orangeForm-name" class="form-control is-invalid" th:field="*{username}">
                        <label for="orangeForm-name">Your name</label>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback ml-5">error</div>
                      </div>
                      <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="text" id="orangeForm-email" class="form-control is-invalid" th:field="*{email}">
                        <label for="orangeForm-email">Your email</label>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback ml-5">error</span>
                      </div>
  
                      <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="orangeForm-pass" class="form-control is-invalid" th:field="*{password}">
                        <label for="orangeForm-pass">Your password</label>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback ml-5">error</span>
                      </div>
  
                      <div class="text-center">
                        <button class="btn btn-indigo btn-rounded mt-5" type="submit">登 録</button>
                      </div>
                    </form>
                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

              </div>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->
      
      
      
      </div>
    </section>
  </main>
  <!--Main Navigation-->

</body>

</html>
