<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="ja">
<head>
    <title>Stripe BankAccount Create Token Test Form</title>
    <meta charset="utf-8">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<form method="post">
    <input type="hidden" id="account_holder_name" name="account_holder_name" value="フジイ　ダイスケ">
</form>
<script>
    var stripe = Stripe('pk_test_kfHrwK9IL4ArC9ZsATw8ymhQ00w6t7mFJl');
    stripe.createToken('bank_account', {
        country: 'JP',
        currency: 'jpy',
        routing_number: '0017258',
        account_number: '0001234',
        account_holder_name: $("#account_holder_name").val(),
        account_holder_type: 'individual'
    }).then(function (result) {
        if (result.error) {
            console.log(result.error);
        } else {
            console.log(result.token);
        }
    });
</script>
</body>
</html>
