<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>TOP</title>
    <meta name="keywords" content="セミナー一覧" />
    <meta name="description" content="誰でもノーリスクでセミナーが開催できるサービス" />
</head>
<body>
  <!--Main layout-->
  <main class="mt-5" layout:fragment="content">
    <div class="container">
      <div th:if="${page != null and !#lists.isEmpty(page.content)}" th:remove="tag">
        <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">
          <th:block th:each="seminar, parentStat:${page.content}">
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="view overlay z-depth-1">
                  <img th:src="${seminar.imagePath}" th:alt="${seminar.title}" class="img-fluid">
                  <a th:href="@{/seminars/{seminarId}/detail(seminarId=${seminar.id})}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-7 mb-4">
                <!-- 
                <a href="" class="teal-text">
                  <h6 class="pb-1"><i class="fas fa-heart"></i><strong> Lifestyle </strong></h6>
                </a>
                 -->
                <h4 class="mb-4"><strong th:text="${seminar.title}">title</strong></h4>
                <p th:text="${seminar.summary}">summary</p>
                <p><strong class="mr-3" th:text="${seminar.remainingStatus()}">remaining status</strong> [[${#temporals.format(seminar.startedAt, 'yyyy年MM月dd日')}]] 開催</p>
                <a th:href="@{/seminars/{seminarId}/detail(seminarId=${seminar.id})}" class="btn btn-primary">詳 細</a>
              </div>
            </div>
            <hr class="mb-5">
          </th:block>

        <!--Pagination dark-->
        <nav class="wow fadeIn mb-4 mt-5" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
          <ul class="pagination pg-dark flex-center">

              <li class="page-item" th:classappend="${page.firstPage}?'disabled':''">
                  <a class="page-link" th:href="@{${page.url}(page=0,size=${page.size})}">First</a>
              </li>

            <!--Arrow left-->
            <li class="page-item" th:classappend="${page.hasPreviousPage}? '' : 'disabled'">
              <a class="page-link waves-effect waves-effect" aria-label="Previous" th:href="@{${page.url}(page=${page.number-2},size=${page.size})}">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class= "page-item" th:classappend="${item.current}? 'active disabled' : ''" th:each="item : ${page.items}">
                <a class="page-link waves-effect waves-effect" th:href='@{${page.url}(page=${item.number-1},size=${page.size})}' th:text="${item.number}">1</a>
            </li>

            <!--Arrow right-->
            <li class="page-item" th:classappend="${page.hasNextPage}? '' : 'disabled'">
              <a class="page-link waves-effect waves-effect" aria-label="Next" th:href="@{${page.url}(page=${page.number},size=${page.size})}">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <li class="page-item" th:classappend="${page.lastPage}? 'disabled' : ''">
                <a class="page-link" th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Last</a>
            </li>

          </ul>
        </nav>
        <!--/Pagination dark-->

        </section>
        
      </div>
    </div>
  </main>
  <!--Main layout-->
</body>
</html>