<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>TOP</title>
    <meta name="keywords" content="セミナー" />
    <meta name="description" content="セミプロは誰でもノーリスクでセミナーを開催できるサイトです。" />
</head>
<body>
<main class="uk-margin" layout:fragment="content">
    <div class="uk-container-small uk-align-center">
        <div th:if="${page != null and !#lists.isEmpty(page.content)}" th:remove="tag">
            <ul class="uk-list uk-list-large uk-list-divider">
                <th:block th:each="seminar, parentStat:${page.content}">
                    <li>
                        <div uk-grid>
                            <div class="uk-width-auto">
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a th:href="@{/seminars/{seminarId}/detail(seminarId=${seminar.id})}">
                                        <img th:src="${#seminarImageHelper.getMainImageUrl(seminar.id, seminar.overview.mainImageExtension)}"
                                             th:alt="${seminar.overview.title}"
                                             style="max-width: 200px;">
                                    </a>
                                </div>
                            </div>
                            <div class="uk-width-auto">
                                <a th:href="@{/seminars/{seminarId}/detail(seminarId=${seminar.id})}">
                                    <h3 th:text="${seminar.overview.title}">title</h3>
                                </a>
                                <p>
                                    <div th:text="${seminar.overview.summary}">summary</div>
                                    <div class="uk-margin">
                                        <span th:text="${'残り' + seminar.goal.entryRemainingDays + '日'}">残り20日</span>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
            <ul class="uk-pagination uk-flex-center uk-margin">
                <li th:classappend="${page.firstPage}?'uk-disabled':''">
                    <a th:href="@{${page.url}(page=0,size=${page.size})}"><span uk-pagination-previous></span></a>
                </li>
                <li class= "page-item" th:classappend="${item.current}? 'uk-active' : ''" th:each="item : ${page.items}">
                    <a th:href='@{${page.url}(page=${item.number-1},size=${page.size})}' th:text="${item.number}">1</a>
                </li>
                <li th:classappend="${page.lastPage}? 'uk-disabled' : ''">
                    <a th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}"><span uk-pagination-next></span></a>
                </li>
            </ul>
        </div>
    </div>
</main>
<th:block th:fragment="script"></th:block>
</body>
</html>