<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>TOP</title>
    <meta name="keywords" content="セミナー" />
    <meta name="description" content="セミプロは誰でもノーリスクでセミナーを開催できるサイトです。" />
</head>
<body>
<main class="uk-margin" layout:fragment="content">
    <div class="uk-container-small uk-align-center">
        <div th:if="${pagedListHolder != null and !#lists.isEmpty(pagedListHolder.pageList)}" th:remove="tag">
            <ul class="uk-list uk-list-large uk-list-divider">
                <th:block th:each="output, parentStat:${pagedListHolder.pageList}">
                    <li th:if="${output.isSemipro()}">
                        <div uk-grid>
                            <div class="uk-width-2-5">
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a th:href="@{/seminars/{seminarId}/detail(seminarId=${output.seminar.id})}">
                                        <img th:src="${#seminarImageHelper.getMainImageUrl(output.seminar.id, output.seminar.overview.mainImageExtension)}"
                                             th:alt="${output.seminar.overview.title}"
                                             style="max-width: 200px;">
                                    </a>
                                </div>
                            </div>
                            <div class="uk-width-3-5">
                                <a th:href="@{/seminars/{seminarId}/detail(seminarId=${output.seminar.id})}">
                                    <h4 th:text="${output.seminar.overview.title}">title</h4>
                                </a>
                                <p>
                                    <div th:utext="${output.seminar.overview.displaySummary()}">summary</div>
                                    <div class="uk-margin">
                                        <span th:text="${'残り' + output.seminar.goal.entryRemainingDays + '日'}">残り20日</span>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li th:unless="${output.isSemipro()}">
                        <div uk-grid>
                            <div class="uk-width-2-5">
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a th:href="@{/seminars/eventon/{eventId}/detail(eventId=${output.eventonSeminar.eventId})}">
                                        <img th:src="${output.eventonSeminar.imagePath}"
                                             th:alt="${output.eventonSeminar.title}"
                                             style="max-width: 200px;">
                                    </a>
                                </div>
                            </div>
                            <div class="uk-width-3-5">
                                <a th:href="@{/seminars/eventon/{eventId}/detail(eventId=${output.eventonSeminar.eventId})}">
                                    <h4 th:text="${output.eventonSeminar.title}">title</h4>
                                </a>
                                <p>
                                <div th:utext="${output.eventonSeminar.summary}">summary</div>
                                <!--
                                <div class="uk-margin">
                                    <span th:text="${'残り' + output.seminar.goal.entryRemainingDays + '日'}">残り20日</span>
                                </div>
                                -->
                                </p>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
            <ul class="uk-pagination uk-flex-center uk-margin">
                <li th:classappend="${pagedListHolder.firstPage}?'uk-disabled':''">
                    <a th:href="@{/(page=0)}"><span uk-pagination-previous></span></a>
                </li>
                <li th:each="i : ${#numbers.sequence(pagedListHolder.firstLinkedPage, pagedListHolder.lastLinkedPage)}"
                    class= "page-item"
                    th:classappend="${i == pagedListHolder.page}? 'uk-active' : ''">
                    <a th:href='@{/(page=${i})}' th:text="${i+1}">1</a>
                </li>
                <li th:classappend="${pagedListHolder.lastPage}? 'uk-disabled' : ''">
                    <a th:href="@{/(page=${pagedListHolder.pageCount - 1})}"><span uk-pagination-next></span></a>
                </li>
            </ul>
        </div>
    </div>
</main>
<th:block th:fragment="script"></th:block>
</body>
</html>