<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
  <title>セミナー開催 詳細情報登録</title>
  <link th:href="@{/css/wysiwyg.min.css}" rel="stylesheet">
</head>
<body>
  <!--Main Navigation-->
  <main layout:fragment="content">
    <section class="view">
      <div class="container h-100 w-75 justify-content-center align-items-center">
        <div class="row  py-5 my-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <ul class="nav md-pills pills-deep-orange nav-justified">
                  <li class="nav-item">
                    <a class="nav-link" href="#!">基本情報</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#!">詳細</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!">チケット</a>
                  </li>
                </ul>
                <hr>
                <div class="row mt-3">
                  <div class="col">
                    <form th:action="@{/holds/__${seminarId}__/advanced/save}" th:object="${manageHoldAdvancedForm}" enctype="multipart/form-data" method="post">
                      <div class="md-form">
                        <div class="file-field">
                          <a class="btn-floating purple-gradient mt-0 float-left">
                            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                            <input type="file" id="mainImage" name="mainImage" th:field="*{mainImage}">
                          </a>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="メイン画像">
                          </div>
                        </div>
                        <div class="preview"></div>
                      </div>
                      <div class="mt-5">
                        <div class="md-form">
                          <textarea id="holdDetailSeminarForm-summary" class="md-textarea form-control" rows="3" th:field="*{summary}"></textarea>
                          <label for="holdDetailSeminarForm-summary">概要</label>
                          <div th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="invalid-feedback d-block">error</div>
                        </div>
                      </div>
                      <div class="md-form">
                        <textarea id="holdDetailSeminarForm-contents" class="md-textarea form-control" rows="3" th:field="*{contents}"></textarea>
                        <label for="holdDetailSeminarForm-contents">詳細</label>
                        <div id="editor"></div>
                        <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="row">
                        <!--Grid column-->
                        <div class="col-md-4">
                          <div class="md-form">
                            <input type="date" id="entryStartingDate" class="form-control" th:field="*{entryStartingDate}">
                            <label for="entryStartingDate">申し込み開始日</label>
                            <div th:if="${#fields.hasErrors('entryStartingDate')}" th:errors="*{entryStartingDate}" class="invalid-feedback d-block">error</div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="md-form">
                            <input type="time" id="entryStartingTime" class="form-control" th:field="*{entryStartingTime}">
                            <label for="entryStartingTime">時間</label>
                            <div th:if="${#fields.hasErrors('entryStartingTime')}" th:errors="*{entryStartingTime}" class="invalid-feedback d-block">error</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form">
                            <input type="date" id="entryEndingDate" class="form-control" th:field="*{entryEndingDate}">
                            <label for="entryEndingDate">終了日</label>
                            <div th:if="${#fields.hasErrors('entryEndingDate')}" th:errors="*{entryEndingDate}" class="invalid-feedback d-block">error</div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="md-form">
                            <input type="time" id="entryEndingTime" class="form-control" th:field="*{entryEndingTime}">
                            <label for="endingTime">時間</label>
                            <div th:if="${#fields.hasErrors('entryEndingTime')}" th:errors="*{entryEndingTime}" class="invalid-feedback d-block">error</div>
                          </div>
                        </div>
                      </div>
                      <div class="md-form">
                        <input type="text" id="" class="form-control" th:field="*{capacity}">
                        <label for="capacity">定員</label>
                        <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="md-form">
                        <input type="text" id="" class="form-control" th:field="*{minimumNumberHosts}">
                        <label for="capacity">最低開催人数</label>
                        <div th:if="${#fields.hasErrors('minimumNumberHosts')}" th:errors="*{minimumNumberHosts}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="md-form">
                        <div class="text-muted">セミナー撮影オプション</div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="unUseShootingSupport" name="groupOfShootingSupport" th:field="*{shootingSupported}" value="0">
                          <label class="form-check-label" for="unUseShootingSupport">不要</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="useShootingSupport" name="groupOfShootingSupport" th:field="*{shootingSupported}" value="1">
                          <label class="form-check-label" for="useShootingSupport">必要</label>
                        </div>
                        <div th:if="${#fields.hasErrors('shootingSupported')}" th:errors="*{shootingSupported}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="md-form">
                        <div class="text-muted">セミナー動画編集オプション</div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="unUseShootingEditSupport" name="groupOfShootingEditSupport" th:field="*{shootingEditSupported}" value="0">
                          <label class="form-check-label" for="unUseShootingEditSupport">不要</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="useShootingEditSupport" name="groupOfShootingSupport" th:field="*{shootingEditSupported}" value="1">
                          <label class="form-check-label" for="useShootingEditSupport">必要</label>
                        </div>
                        <div th:if="${#fields.hasErrors('shootingEditSupported')}" th:errors="*{shootingEditSupported}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="md-form">
                        <div class="text-muted">セミナー動画販売オプション</div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="unUseMovieSalesSupport" name="groupOfMovieSalesSupport" th:field="*{movieSalesSupported}" value="0">
                          <label class="form-check-label" for="unUseMovieSalesSupport">不要</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="useMovieSalesSupport" name="groupOfMovieSalesSupport" th:field="*{movieSalesSupported}" value="1">
                          <label class="form-check-label" for="useMovieSalesSupport">必要</label>
                        </div>
                        <div th:if="${#fields.hasErrors('movieSalesSupported')}" th:errors="*{movieSalesSupported}" class="invalid-feedback d-block">error</div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-indigo btn-rounded mt-5" type="submit">登 録</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--Main Navigation-->
  <th:block th:fragment="script">
  <script type="text/javascript" th:src="@{/js/wysiwyg.min.js}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#holdDetailSeminarForm-contents").mdbWYSIWYG();
      
      //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
      $('form').on('change', 'input[type="file"]', function(e) {
        var file = e.target.files[0],
            reader = new FileReader(),
            $preview = $(".preview");
            t = this;

        // 画像ファイル以外の場合は何もしない
        if(file.type.indexOf("image") < 0){
          return false;
        }

        // ファイル読み込みが完了した際のイベント登録
        reader.onload = (function(file) {
          return function(e) {
            //既存のプレビューを削除
            $preview.empty();
            // .prevewの領域の中にロードした画像を表示するimageタグを追加
            $preview.append($('<img>').attr({
                      src: e.target.result,
                      width: "100%",
                      class: "preview",
                      title: file.name
                  }));
          };
        })(file);

        reader.readAsDataURL(file);
      });
      
    });
  </script>
  </th:block>
</body>

</html>
