<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
  <title>開催セミナー一覧</title>
</head>
<body>
  <!--Main Navigation-->
  <main layout:fragment="content">
    <div class="container h-100 w-75 justify-content-center align-items-center">
      <section class="py-5 my-3">
        <th:block th:each="seminar, parentStat:${rows}">
          <div class="list-group">
            <a th:href="@{/holds/__${seminar.id}__/basic/input}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 h5" th:text="${seminar.title}">title</h5>
              </div>
              <p class="mb-2">[[${#temporals.format(seminar.startingAt, 'yyyy年MM月dd日 HH時mm分')}]] 開催</p>
            </a>
          </div>
        </th:block>
      </section>
      <section class="text-center my-5">
        <a th:href="@{/holds/basic/input}" class="btn btn-yellow">セミナー開催情報を入力　> </a>
      </section>
    </div>
    
  </main>
  <!--Main Navigation-->
  <th:block th:fragment="script">
  <script type="text/javascript">
    $(document).ready(function() {
      // Material Select Initialization
      $('.mdb-select').materialSelect();
      
      $('[name=placeSupported]').on('change', function() {
        if ($('input[name=placeSupported]:checked').val() === 'false') {
          $('.place-input-area').removeClass('d-none').addClass('d-block');
        } else {
          $('.place-input-area').removeClass('d-block').addClass('d-none');
        }
      });
      
      $('#prefectureId').on('change',function(){
        $.ajax({
          type: "GET",
          url: location.pathname + "/searchCityList",
          dataType : 'json',
          data: {'prefectureId': $('#prefectureId').val()}
        }).done (function(data, textStatus, jqXHR) {
            $('#cityId').html('');//一度select内を空に
            for(var i in data){
              $('#cityId').append($('<option></option>')
                      .val(data[i].id)
                      .text(data[i].name));
          }
        }).fail (function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus);
        });
      });
      
    });
  </script>
  </th:block>
</body>

</html>
