<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>TOP</title>
    <meta name="keywords" content="content1" />
    <meta name="description" content="content1" />
</head>

<body>

    <!--Main layout-->
    <main class="mt-5 pt-5" layout:fragment="content">
        <div class="container">
            
            <section>
                <p class="text-left" th:unless="${seminar.isAccepting()}">このセミナーは受付終了しました</p>
                <p th:if="${seminar.isAccepting()}">
                    <span class="h4">【受付中】</span>
                    <span class="h4">開催日時：</span>
                    <span class="h4" th:text="${#temporals.format(seminar.startedAt, 'yyyy/MM/dd HH:mm')}"></span>
                </p>
            </section>
            
            <section th:if="${seminar.isAccepting()}">
                <div class="pl-3 mb-4">
                    <span class="h4">空席状況：</span>
                    <span class="h4" th:text="${seminar.remainingStatus()}"></span>
                </div>
            </section>
            
            <section>
                <div class="wow fadeIn">
                    <a th:href="${seminar.providerSeminarUrl}" target="_blank"><h2 class="h1 text-center mb-4" th:text="${seminar.title}"></h2></a>
                    <p class="text-left" th:text="${seminar.summary}"></p>
                </div>
            </section>

            <section class="card wow fadeIn">
                <div class="card-body text-white text-center py-5 px-5 my-5">
                    <img th:src="${seminar.imagePath}">
                </div>
            </section>

            <section class="pt-5">
                <div class="wow fadeIn">
                    <h2 class="h1 text-center mb-5">詳細</h2>
                    <div class="text-left pb-5" th:utext="${seminar.contents}"></div>
                </div>
            </section>

            <section>
                <h2 class="h1 text-center">チケット</h2>
                <div class="text-left" th:each="ticket, stat: ${seminar.seminarTickets}">
                    <span th:text="${ticket.name}"></span>：<span th:text="${ticket.price}"></span>
                </div>
            </section>
            
            <section>
                <h2 class="h1 text-center">支払い方法</h2>
                <div class="text-left" th:each="paymentType, stat: ${seminar.seminarPaymentTypes}">
                    <span th:text="${paymentType.getTypeName()}"></span>
                </div>
            </section>
            
            <section>
                <h2 class="h1 text-center">主催者</h2>
                <div class="text-left" th:each="owner, stat: ${seminar.seminarOwners}">
                    <div th:text="${owner.name}"></div>
                    <a th:href="${owner.url}" th:text="${owner.url}" target="_blank"></a>
                </div>
            </section>

        </div>
    </main>
    <!--Main layout-->

</body>

</html>
