<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
  <!--Main Navigation-->
  <header layout:fragment="header">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark teal darken-4">
      <a class="navbar-brand" th:href="@{/}">セミプロ</a>
      <span class="navbar-text mr-auto">
        誰でもノーリスクでセミナーが開催できるサービス
      </span>
      <!-- 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <a sec:authorize="isAuthenticated()" th:href="@{/holds}">セミナーを開催する</a>
        <!-- 
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Dropdown
            </a>
            <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
         -->
        <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/signup}">会員登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">ログイン</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons" sec:authorize="isAuthenticated()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
              <span sec:authentication="name">user name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="#">設定</a>
              <a class="dropdown-item" th:href="@{/logout}">ログアウト</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->
  </header>
  <!--Main Navigation-->
  
</body>
</html>