<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <!--Main Navigation-->
  <header layout:fragment="header">
    <nav class="navbar navbar-dark teal darken-4 justify-content-between">
      <a class="navbar-brand" th:href="@{/}">セミプロ</a>
      <span class="navbar-text mr-auto">
        誰でもノーリスクでセミナーが開催できるサービス
      </span>
      <form class="form-inline my-1">
        <div class="md-form form-sm my-0">
          <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
      </form>
    </nav>
  </header>
  <!--Main Navigation-->
</body>
</html>