<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:lang="${#locale.language}">
<head>
    <title>会員登録完了</title>
</head>
<body>
<main layout:fragment="content">
    <div class="uk-container uk-margin">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-large uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">会員登録完了</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>
                        会員登録が完了しました。
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:fragment="script"></th:block>
</body>
</html>
