<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="MDC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyMMdd HH:mm:ss.SSS},%X{request_id},%m%n</pattern>
        </encoder>
    </appender>

    <logger name="MDC" level="INFO">
        <appender-ref ref="MDC" />
    </logger>

</configuration>